In [1]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/TheLazyCactus/Shark_Project/refs/heads/main/GSAF5.csv'
shark_data = pd.read_csv(url, sep=";", low_memory =False)

In [2]:
shark_data

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254
0,14-oct-24,2024,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11-oct-24,2024,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17-sept-24,2024,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16-sept-24,2024,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26-août-24,2024,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39047,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39048,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39049,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
#Remove all the columns and lines with NaN values only
shark_data.dropna(axis=1, how='all',inplace=True)
shark_data.dropna(axis=0, how='all',inplace=True)

In [4]:
shark_data

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14-oct-24,2024,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,Bull shark,Georgienne Bradley: Daily Mail UK: FTN News.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11-oct-24,2024,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,Bull shark 6ft,Todd SmithFlorida today: News 4:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17-sept-24,2024,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,Bull shark 6-7ft,Daily Mail UK: The Sun UK: The World Watch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16-sept-24,2024,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26-août-24,2024,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6968,Before 1903,0000,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
6969,Before 1903,0000,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
6970,1900-1905,0000,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
6971,1883-1889,0000,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
6972,1845-1853,0000,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [3]:

#Remove the last 2 Unnamed colmns 
shark_data =shark_data.drop(shark_data.columns[-1], axis = 1)
shark_data =shark_data.drop(shark_data.columns[-1], axis = 1)
shark_data.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order
0,14-oct-24,2024,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,N,?,Bull shark,Georgienne Bradley: Daily Mail UK: FTN News.com,NaN,NaN,NaN,NaN,NaN,NaN
1,11-oct-24,2024,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,N,?,Bull shark 6ft,Todd SmithFlorida today: News 4:,NaN,NaN,NaN,NaN,NaN,NaN
2,17-sept-24,2024,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,N,?,Bull shark 6-7ft,Daily Mail UK: The Sun UK: The World Watch,NaN,NaN,NaN,NaN,NaN,NaN
3,16-sept-24,2024,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,Y,1600hr,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN,NaN,NaN
4,26-août-24,2024,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,Y,?,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Le't check the column names so we know what we can do
shark_data_columns = shark_data.columns
shark_data_columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

In [ ]:
#Let's remove the column 'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1' and 'original order' as we will not have any useful data
shark_data = shark_data.drop('Source' ,axis=1)
shark_data = shark_data.drop('pdf' ,axis=1)
shark_data = shark_data.drop('href' ,axis=1)
shark_data = shark_data.drop('href formula' ,axis=1)
shark_data = shark_data.drop('Case Number',axis=1)
shark_data = shark_data.drop('Case Number.1' ,axis=1)
shark_data = shark_data.drop('original order',axis=1)

In [5]:
#One column is still unnamed but all the Y match with a fatality
shark_data.columns.values[11] = "Fatality"
shark_data.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatality', 'Time', 'Species '],
      dtype='object')

In [9]:
shark_data.dtypes

Date        object
Year        object
Type        object
Country     object
State       object
Location    object
Activity    object
Name        object
Sex         object
Age         object
Injury      object
Fatality    object
Time        object
Species     object
dtype: object

Let's clean the year

In [6]:
#Convert year to int
shark_data["Year"] = pd.to_numeric(shark_data["Year"], errors='coerce').astype('Int64')
shark_data["Year"]

0       2024
1       2024
2       2024
3       2024
4       2024
        ...
6968       0
6969       0
6970       0
6971       0
6972       0
Name: Year, Length: 6973, dtype: Int64

In [11]:
year_counts = shark_data['Year'].value_counts()
print(year_counts)

Year
2015    141
2017    139
2016    131
0       129
2011    128
       ...
1785      1
1784      1
1783      1
1780      1
1818      1
Name: count, Length: 261, dtype: Int64

Let'change all the str in 0 and count the number of 0

In [12]:
shark_data["Age"].unique() #We can see a lot of str value

array(['38', '16', '33', '30', '15', '23', '41', '14', '26', 'Middle age',
       '18', '21', nan, '45', '46', '19', '27', '20', '65', '64', '24',
       '?', '13', '11', '32', '29', '10', '62', '39', '22', '66', '52',
       '44', '47', '55', '59', '8', '50', '34', '30s', '37', '9', '20/30',
       '35', '20s', '77', '60', '49', '42', '!2', '73', '25', '50s', '58',
       '67', '17', '6', '53', '68', '43', '40', '51', '31', '28', '40s',
       'teen', '56', 'Teen', '12', '36', 'M', '57', '!6', '!!', '7', '71',
       '48', '54', '75', '45 and 15', '61', '70', '4', '63', '28 & 22',
       '22, 57, 31', '60s', "20's", '74', '9 & 60', 'a minor', '69', '3',
       '82', '72', '18 months', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20s',
       'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', '78',
       '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ',
       'A.M.', '?    &   14', '10 or 12', '31 or 33', '2½', '13 or 14'],
      dtype=object)

In [7]:
shark_data['Age']  = pd.to_numeric(shark_data['Age'] , errors="coerce").fillna(0).astype(int)
shark_data['Age']

0       38
1       16
2       33
3       30
4       16
        ..
6968     0
6969     0
6970     0
6971     0
6972    15
Name: Age, Length: 6973, dtype: int32

In [14]:
top_10_ages = shark_data[shark_data['Age'] != 0]['Age'].value_counts().nlargest(10)
top_10_ages
#We can see it's mostly teen between 14 and 25 so we could over a school camp to learn about shark behavior, train teens on first aid and what to do in case of attack

Age
17    173
18    159
15    156
20    153
19    151
16    151
21    129
22    126
25    118
14    115
Name: count, dtype: int64

Let's clean the type

In [15]:
shark_data['Type'].unique()

array(['Unprovoked', ' Provoked', 'Provoked', 'Questionable',
       'Watercraft', 'Sea Disaster', nan, '?', 'Unconfirmed',
       'Unverified', 'Invalid', 'Under investigation', 'Boat'],
      dtype=object)

In [16]:
shark_data["Type"].value_counts()

Type
Unprovoked             5135
Provoked                636
Invalid                 552
Watercraft              355
Sea Disaster            242
Questionable             22
Boat                      7
 Provoked                 2
?                         1
Unconfirmed               1
Unverified                1
Under investigation       1
Name: count, dtype: int64

In [8]:
shark_data["Type"] = shark_data["Type"].str.strip()

# Replace any questionable or inconsistent entries
shark_data["Type"] = shark_data["Type"].replace({
    " Provoked": "Provoked",
    "?": "Unknown",
    "Unconfirmed": "Unknown",
    "Unverified": "Unknown",
    "Under investigation": "Unknown"
})

shark_data["Type"].value_counts()

Type
Unprovoked      5135
Provoked         638
Invalid          552
Watercraft       355
Sea Disaster     242
Questionable      22
Boat               7
Unknown            4
Name: count, dtype: int64

Cleaning of activity

In [18]:
shark_data['Activity'].nunique()

1597

In [9]:
# Define the mapping using keywords for categorization
activity_mapping = {
    'surfing': 'surfing',
    'swim': 'swimming',
    'fish': 'fishing',
    'dive': 'diving',
    'wadi': 'wading'
}

# Function to map activities based on keywords
def categorize_activity(activity):
    if pd.isna(activity):  # Check for NaN values
        return 'Unknown'
    activity = str(activity).lower()  
    for keyword, category in activity_mapping.items():
        if keyword in activity:
            return category
    return 'Other' 

# Apply the categorization to the 'Activity' column
shark_data['Activity'] = shark_data['Activity'].apply(categorize_activity)

shark_data['Activity'].value_counts()

Activity
Other       2314
fishing     1330
surfing     1292
swimming    1242
Unknown      586
wading       189
diving        20
Name: count, dtype: int64

In [20]:
shark_data['Activity'].nunique()

7

Let's clean the Species

In [21]:
shark_data.columns
#There is an extra space in Species

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatality', 'Time', 'Species '],
      dtype='object')

In [10]:
shark_data = shark_data.rename(columns={shark_data.columns[-1]: "Species"})
shark_data["Species"]

0                     Bull shark
1                 Bull shark 6ft
2               Bull shark 6-7ft
3       Reportedly a Great White
4         Reportedly Tiger Shark
                  ...
6968                         NaN
6969                         NaN
6970                         NaN
6971                         NaN
6972                         NaN
Name: Species, Length: 6973, dtype: object

In [23]:
shark_data['Species'].unique()

array(['Bull shark', 'Bull shark 6ft', 'Bull shark 6-7ft', ...,
       "12' tiger shark", 'Blue pointers',
       'Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable'],
      dtype=object)

**Analysis**

Let's do have a table of state/year to have a stat of our target by taking the 5 top countries for the last 10 years

In [25]:
year_counts = shark_data['Year'].value_counts()
print(year_counts)

Year
2015    141
2017    139
2016    131
0       129
2011    128
       ...
1785      1
1784      1
1783      1
1780      1
1818      1
Name: count, Length: 261, dtype: Int64

In [26]:
country_counts = shark_data['Country'].value_counts()
print(country_counts)

Country
USA                           2551
AUSTRALIA                     1481
SOUTH AFRICA                   597
NEW ZEALAND                    144
PAPUA NEW GUINEA               136
                              ...
GABON                            1
ANDAMAN / NICOBAR ISLANDAS       1
MALDIVE ISLANDS                  1
NICARAGUA                        1
CEYLON (SRI LANKA)               1
Name: count, Length: 235, dtype: int64

In [ ]:
top_10_countries = country_counts.nlargest(5)

print(top_10_countries)

Country
USA                 2551
AUSTRALIA           1481
SOUTH AFRICA         597
NEW ZEALAND          144
PAPUA NEW GUINEA     136
Name: count, dtype: int64

In [28]:
usa_counts = shark_data[shark_data['Country'] == 'USA']['Location'].value_counts()

print(usa_counts)

Location
New Smyrna Beach, Volusia County        191
Daytona Beach, Volusia County            31
Ponce Inlet, Volusia County              28
Myrtle Beach, Horry County               22
Melbourne Beach, Brevard County          20
                                       ...
Singer Island, Riviera Beach              1
Onslow Beach                              1
Off Key Largo, Monroe County              1
Isla Blanca Park, South Padre Island      1
Ocracoke Inlet                            1
Name: count, Length: 1547, dtype: int64

In [11]:
#Volusia county (Florida) could be a good target as they are the top
volusia_county_incidents= shark_data['Location'].str.contains('Volusia', case=False, na=False).sum()

print('There were ',volusia_county_incidents, 'incidents in Volusia over the years')
#Let's see which activity are done in that place

There were  354 incidents in Volusia over the years

In [12]:
#Create a column when location == Volusia
shark_data['Volusia'] = shark_data['Location'].apply(lambda x: 1 if isinstance(x, str) and 'Volusia' in x else 0)
shark_data['Volusia'].value_counts()

Volusia
0    6619
1     354
Name: count, dtype: int64

In [57]:
#Group to get only Volusia = True
grouped = shark_data.groupby('Volusia')
grouped.get_group(1)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatality,Time,Species,Volusia
8,08-juil-24,2024,Unprovoked,USA,Florida,Ponce de Leon Inlet Volusia County,Other,Dempsey Manhart,M,14,Lower left leg injury,N,11hr15,4-5ft Blacktip shark,1
14,04-juil-24,2024,Unprovoked,USA,Florida,New Smyrna Beach Beach Access 14 Volusia County,swimming,Not released,M,0,Bite to left leg,N,1100hr,6ft shark,1
68,12 Sep-2023,2023,Questionable,USA,Florida,"New Smyrna Beach, Volusia County",surfing,Mark Summersett,M,38,Llacerations to face and chin,N,07h50,NaN,1
72,04 Sep 2023,2023,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",surfing,male,M,0,Left hand bitten,N,NaN,NaN,1
73,04 Sep 2023,2023,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",wading,female,F,37,Right foot bitten,N,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4469,17-Jun-1962,1962,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Other,Barry Bryan Reed,M,11,"8"" laceration on left calf",N,11h50,1.8 m [6'] shark,1
4858,22-Apr-1957,1957,Provoked,USA,Florida,"Ormond Beach, Volusia County",Other,Michael Carpenter,M,17,Ankle injured by shark trapped in pool as it t...,N,11h00,4 m [13'] shark,1
4886,23-Sep-1956,1956,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",fishing,"Joel Healy, Jr.",M,27,Posterior left ankle bitten,N,NaN,a sand shark,1
5763,Reported 24-Jun-1928,1928,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",swimming,Jim Stevens,M,0,Bitten on leg,N,NaN,NaN,1
6904,"No date, Before 1902",0,Unprovoked,USA,Florida,"Mosquito Inlet (Ponce Inlet), Volusia County",Other,male,M,0,FATAL,Y,NaN,NaN,1

In [ ]:
#Another way to create a new dataframe where volusia = True
shark_data_volusia = shark_data[shark_data['Volusia'] == 1]
shark_data_volusia = shark_data_volusia[shark_data_volusia['Year'].isin([2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024])]

In [14]:
shark_data_volusia

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatality,Time,Species,Volusia
8,08-juil-24,2024,Unprovoked,USA,Florida,Ponce de Leon Inlet Volusia County,Other,Dempsey Manhart,M,14,Lower left leg injury,N,11hr15,4-5ft Blacktip shark,1
14,04-juil-24,2024,Unprovoked,USA,Florida,New Smyrna Beach Beach Access 14 Volusia County,swimming,Not released,M,0,Bite to left leg,N,1100hr,6ft shark,1
68,12 Sep-2023,2023,Questionable,USA,Florida,"New Smyrna Beach, Volusia County",surfing,Mark Summersett,M,38,Llacerations to face and chin,N,07h50,NaN,1
72,04 Sep 2023,2023,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",surfing,male,M,0,Left hand bitten,N,NaN,NaN,1
73,04 Sep 2023,2023,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",wading,female,F,37,Right foot bitten,N,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,9-Jul-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,Tristan Durham,M,14,Lacerations to foot,N,14h00,NaN,1
1204,01-May-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,Shane Nolet,M,23,Laceration to right hand and cuts on fingertips,N,15h00,3' shark,1
1207,15-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",wading,Justin Davidson,M,25,Minor lacerations to left foot,N,09h57,NaN,1
1210,04-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,male,M,0,Minor puncture wounds to lower left leg,N,13h50,NaN,1
1211,04-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,male,M,0,Lacerations to foot,N,13h30,NaN,1

In [34]:
#Extract data as CSV for visualization
shark_data_volusia.to_csv(r"D:\Documents\GitHub\Shark_Project\Volusia_file.csv", sep =';', index=False)

In [35]:
shark_data_volusia['Location'].value_counts()

Location
New Smyrna Beach, Volusia County                     57
Ponce Inlet, Volusia County                          12
Daytona Beach, Volusia County                         4
Daytona Beach Shores, Volusia County                  3
Bethune Beach, Volusia County                         2
Ponce de Leon Inlet Volusia County                    1
New Smyrna Beach Beach Access 14 Volusia County       1
Lighhouse Point Park, Ponce Inlet, Volusia County     1
Ormond Beach, Volusia County                          1
Daytona, Volusia County                               1
Name: count, dtype: int64

In [36]:
shark_data_volusia.value_counts('Year')

Year
2016    13
2014    10
2019    10
2021    10
2017     9
2020     8
2018     6
2022     6
2015     5
2023     4
2024     2
Name: count, dtype: int64

In [37]:
top_10_ages_volusia = shark_data_volusia[shark_data_volusia['Age'] != 0]['Age'].value_counts().nlargest(10)
top_10_ages_volusia

Age
14    5
21    4
18    4
9     4
15    3
25    3
22    3
19    3
11    3
12    3
Name: count, dtype: int64

In [43]:
shark_data_volusia.value_counts('Activity')

Activity
surfing     53
Other       14
wading       6
swimming     4
Unknown      3
fishing      3
Name: count, dtype: int64

In [44]:
shark_data_volusia.value_counts('Type')

Type
Unprovoked      75
Provoked         5
Invalid          1
Questionable     1
Name: count, dtype: int64

In [59]:
shark_data_volusia['Species'].value_counts()
#Write a code to count the number of times a specy is mentionned
#4 species identified: Blacktip, spinner, bull, lemon

Species
Blacktip shark                     3
Spinner shark                      2
Shark involvement not confirmed    2
Lemon shark, 3'                    1
Spinner shark or blacktip shark    1
5' shark                           1
Blacktip or spinner shark, 4'      1
juvenile shark                     1
Blacktip shark, 4' to 5'           1
Bull shark, 6'                     1
5' to 6' shark                     1
4-5ft Blacktip shark               1
6ft shark                          1
6.5' shark                         1
4' to 5' shark                     1
Juvenile blacktip shark            1
2' to 3' shark                     1
Blacktip shark, 5' to 6'           1
6' shark                           1
"A small shark"                    1
Blacktip shark?                    1
3' shark                           1
Name: count, dtype: int64

In [15]:
species_mapping = {
    'blacktip shark': 'Blacktip',
    'spinner shark or blacktip shark': 'Blacktip and Spinner',
    "blacktip or spinner shark, 4'": 'Blacktip and Spinner',
    "blacktip shark, 4' to 5'": 'Blacktip',
    "bull shark, 6'": 'Bull',
    "4-5ft blacktip shark": 'Blacktip',
    'juvenile blacktip shark': 'Blacktip',
    "blacktip shark, 5' to 6'": 'Blacktip',
    "blacktip shark?": 'Blacktip',
    "lemon shark, 3'": 'Lemon',
    'spinner shark': 'Spinner',
}

# Function to map species based on keywords
def categorize_species(species):
    if pd.isna(species):  # Check for NaN values
        return 'Unknown'
    activity = str(species).lower()  # Convert species to lowercase
    for keyword, category in species_mapping.items():
        if keyword in activity:  # Check for keyword in lowercase species string
            return category
    return 'Other' 

# Apply the categorization to the 'Species' column
shark_data_volusia['Species'] = shark_data_volusia['Species'].apply(categorize_species)

# Display value counts for the categorized Species column
print(shark_data_volusia['Species'].value_counts())

Species
Unknown                 57
Other                   12
Blacktip                 9
Spinner                  2
Lemon                    1
Bull                     1
Blacktip and Spinner     1
Name: count, dtype: int64

In [39]:
shark_data_volusia.value_counts("Fatality")

Fatality
N    82
Name: count, dtype: int64

create a new table for Volusia county with year betzeen 2014 and 2024, age, type, species, injury and activities

Let's look at the period of the attack to identify which season and weekend/weekday

*Hypothesis 1: There are more shark attacks during the holidays and weekend as more people are out and can meet with shark so this could a danger for the turism reputation*

*Hypothesis 2: Could be interesting to find a database of shark reproduction period to crosscheck*

In [63]:
#We need to use the 'Date' column
#shark_attack_hp1 =shark_attack["Date"]
#shark_attack_hp1["Weekday"] = shark_attack["Date"].dt.weekday

When we select a city we can look at the species that attack and crosscheck it with a database of endemic species of shark

In [ ]:
#Top 10 Species
shark_data_volusia['Species'].value_counts()

Species
Unknown                 57
Other                   12
Blacktip                 9
Spinner                  2
Lemon                    1
Bull                     1
Blacktip and Spinner     1
Name: count, dtype: int64

Which type of shark we have in volusia

Injury

In [16]:
shark_data_volusia['Injury'].value_counts()

Injury
Foot bitten                                6
Minor injury to foot                       5
Minor injury to left foot                  3
Lacerations to foot                        2
Lacerations to left foot                   2
                                          ..
Puncture marks to lower leg                1
Minor injuries to right foot               1
Minor cuts to right foot                   1
Bite to left hand and wrist                1
Minor puncture wounds to lower left leg    1
Name: count, Length: 70, dtype: int64

In [17]:
shark_data_volusia["Injury"].unique()

array(['Lower left leg injury', 'Bite to left leg  ',
       'Llacerations to face and chin', 'Left hand bitten',
       'Right foot bitten', 'Ankle injured', 'Minor bite to left  foot',
       'Minor lacerations to left calf', 'Minor injury to foot',
       'Foot bitten', 'Bite to right foot',
       'Minor injuries to knee and calf of left leg                            PROVOKED INCIDENT                 ',
       'Minor injury to right arm', 'Minor cuts to right foot and ankle',
       'Hands bitten while attempting to unhook shark               PROVOKED INCIDENT',
       'Leg bitten', 'Puncture wound to calf', 'Left arm bitten',
       'Right calf bitten', 'Minor injury to right foot', 'Nick on foot',
       'Minor cuts and punctures to left foot',
       'Cuts to right hand and wrist', 'Minor lacerations to left leg',
       'Lacerations to foot ', 'Left foot bitten ',
       'Left foot bitten when he jumped on the shark  PROVOKED INCIDENT',
       'No injury, knocked from his board by the shark',
       'Minor cuts when he jumped off his board and landed on the shark. PROVOKED INCIDENT',
       'Hand and calf bitten when he jumped off surfboard and landed on the shark PROVOKED INCIDENT',
       'Puncture marks to lower leg', 'Minor injuries to right foot',
       'Minor cuts to right foot', 'Bite to left hand and wrist',
       '3 lacerations to left hand', 'Lacerations to right thigh',
       'Minor injury to toe', 'Black eye', 'Ankle bitten',
       'Minor injury to foot. PROVOKED INCIDENT',
       'Lacerations to left foot', 'Minor injury to right hand',
       'Laceration to left foot', 'Minor bite to the foot', 'Calf bitten',
       'Foot injured', 'Thigh nipped, minor injury',
       'Minor injury to left foot', 'Cuts to right ankle & foot',
       'Cuts to dorsal surface of left foot', 'Minor injuries',
       'Minor injury to thigh', 'Lacerations to hands',
       'Lacerations to lower leg', 'Lacerations to right foot',
       'Minor injury to ankle', 'Big toe bitten', 'Minor injury to leg',
       'Minor injury to toes', 'Severe lacerations to left hand',
       'Minor injury to left ankle', 'Minor injury to sole of foot',
       'Minor lacerations to dorsum of right foot',
       '2 puncture wounds to  dorsum of left foot', 'Injury to left calf',
       'Lacerations to shin', 'Lacerations to foot',
       'Laceration to right hand and cuts on fingertips',
       'Minor lacerations to left foot',
       'Minor puncture wounds to lower left leg'], dtype=object)

In [22]:
import re
#Function to generalize injuries
def generalize_injury(Injury):
    Injury_lower = Injury.lower()
# Generalize foot injuries
    if re.search(r'foot|toe|heel|ankle', Injury_lower): 
        # Looks for "foot","toe", "heel", or "ankle"
        return 'foot injury'
    elif re.search(r'leg|knee|calf|thigh', Injury_lower):
        return 'leg injury'
    elif re.search(r'hand|finger|wrist', Injury_lower):
        return 'hand injury'
    elif re.search(r'arm|forearm|elbow', Injury_lower):
        return 'arm injury'
    elif re.search(r'torso|back|head|chin|face', Injury_lower):
        return 'torso or head injury'
    else:
        return 'Unknown injury'
# Apply the function to the 'injury' column
shark_data_volusia['generalized_injury'] = shark_data_volusia['Injury'].apply(generalize_injury)
shark_data_volusia[['Injury', 'generalized_injury']]

                                               Injury    generalized_injury
8                               Lower left leg injury            leg injury
14                                 Bite to left leg              leg injury
68                      Llacerations to face and chin  torso or head injury
72                                   Left hand bitten           hand injury
73                                  Right foot bitten           foot injury
...                                               ...                   ...
1177                              Lacerations to foot           foot injury
1204  Laceration to right hand and cuts on fingertips           hand injury
1207                   Minor lacerations to left foot           foot injury
1210          Minor puncture wounds to lower left leg            leg injury
1211                              Lacerations to foot           foot injury

[83 rows x 2 columns]

In [23]:
#Value counts
injury_counts = shark_data_volusia['generalized_injury'].value_counts()
injury_counts

generalized_injury
foot injury             48
leg injury              18
hand injury              9
Unknown injury           5
arm injury               2
torso or head injury     1
Name: count, dtype: int64

In [24]:
shark_data_volusia

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Fatality,Time,Species,Volusia,generalized_injury
8,08-juil-24,2024,Unprovoked,USA,Florida,Ponce de Leon Inlet Volusia County,Other,Dempsey Manhart,M,14,Lower left leg injury,N,11hr15,Blacktip,1,leg injury
14,04-juil-24,2024,Unprovoked,USA,Florida,New Smyrna Beach Beach Access 14 Volusia County,swimming,Not released,M,0,Bite to left leg,N,1100hr,Other,1,leg injury
68,12 Sep-2023,2023,Questionable,USA,Florida,"New Smyrna Beach, Volusia County",surfing,Mark Summersett,M,38,Llacerations to face and chin,N,07h50,Unknown,1,torso or head injury
72,04 Sep 2023,2023,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",surfing,male,M,0,Left hand bitten,N,NaN,Unknown,1,hand injury
73,04 Sep 2023,2023,Unprovoked,USA,Florida,"Ponce Inlet, Volusia County",wading,female,F,37,Right foot bitten,N,NaN,Unknown,1,foot injury
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1177,9-Jul-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,Tristan Durham,M,14,Lacerations to foot,N,14h00,Unknown,1,foot injury
1204,01-May-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,Shane Nolet,M,23,Laceration to right hand and cuts on fingertips,N,15h00,Other,1,hand injury
1207,15-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",wading,Justin Davidson,M,25,Minor lacerations to left foot,N,09h57,Unknown,1,foot injury
1210,04-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,male,M,0,Minor puncture wounds to lower left leg,N,13h50,Unknown,1,leg injury
1211,04-Apr-2014,2014,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",surfing,male,M,0,Lacerations to foot,N,13h30,Unknown,1,foot injury

CSV extract

In [25]:
#Extract data as CSV for visualization
shark_data_volusia.to_csv(r"D:\Documents\GitHub\Shark_Project\Volusia_fileV3.csv", sep =';', index=False)