In [2]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/TheLazyCactus/Shark_Project/refs/heads/main/GSAF5.csv'
shark_data = pd.read_csv(url, sep=";", low_memory =False)

In [3]:
shark_data.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Unnamed: 245,Unnamed: 246,Unnamed: 247,Unnamed: 248,Unnamed: 249,Unnamed: 250,Unnamed: 251,Unnamed: 252,Unnamed: 253,Unnamed: 254
0,14-oct-24,2024,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11-oct-24,2024,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17-sept-24,2024,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16-sept-24,2024,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26-août-24,2024,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Remove all the columns and lines with NaN values only
shark_data.dropna(axis=1, how='all',inplace=True)
shark_data.dropna(axis=0, how='all',inplace=True)

In [5]:
shark_data.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14-oct-24,2024,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,Bull shark,Georgienne Bradley: Daily Mail UK: FTN News.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11-oct-24,2024,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,Bull shark 6ft,Todd SmithFlorida today: News 4:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17-sept-24,2024,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,Bull shark 6-7ft,Daily Mail UK: The Sun UK: The World Watch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16-sept-24,2024,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,26-août-24,2024,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:

#Remove the last 2 Unnamed colmns 
shark_data =shark_data.drop(shark_data.columns[-1], axis = 1)
shark_data =shark_data.drop(shark_data.columns[-1], axis = 1)
shark_data.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number
0,14-oct-24,2024,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,Back and thigh extensive tissue loss,N,?,Bull shark,Georgienne Bradley: Daily Mail UK: FTN News.com,NaN,NaN,NaN,NaN
1,11-oct-24,2024,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,Bite to left arm,N,?,Bull shark 6ft,Todd SmithFlorida today: News 4:,NaN,NaN,NaN,NaN
2,17-sept-24,2024,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,Bite to left leg,N,?,Bull shark 6-7ft,Daily Mail UK: The Sun UK: The World Watch,NaN,NaN,NaN,NaN
3,16-sept-24,2024,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,Leg severed,Y,1600hr,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN
4,26-août-24,2024,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,Head right arm and leg severed,Y,?,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN

In [29]:
#Le't check the column names so we know what we can do
shark_data_columns = shark_data.columns
shark_data_columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

In [30]:
#Let's remove the column 'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1' and 'original order' as we will not have any useful data
shark_data = shark_data.drop('Source' ,axis=1)
shark_data = shark_data.drop('pdf' ,axis=1)
shark_data = shark_data.drop('href' ,axis=1)
shark_data = shark_data.drop('href formula' ,axis=1)
shark_data = shark_data.drop('Case Number',axis=1)
shark_data = shark_data.drop('Case Number.1' ,axis=1)
shark_data = shark_data.drop('original order',axis=1)

In [31]:
#One column is still unnamed but all the Y match with a fatality
shark_data.columns.values[11] = "Fatality"
shark_data.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatality', 'Time', 'Species '],
      dtype='object')

In [32]:
shark_data.dtypes

Date        object
Year        object
Type        object
Country     object
State       object
Location    object
Activity    object
Name        object
Sex         object
Age         object
Injury      object
Fatality    object
Time        object
Species     object
dtype: object

Let's clean the year

In [23]:
#Convert year to int
shark_data["Year"] = pd.to_numeric(shark_data["Year"], errors='coerce').astype('Int64')
shark_data["Year"]

0       2024
1       2024
2       2024
3       2024
4       2024
        ...
6968       0
6969       0
6970       0
6971       0
6972       0
Name: Year, Length: 6973, dtype: Int64

In [ ]:
year_counts = shark_data['Year'].value_counts()
print(year_counts)

<bound method IndexOpsMixin.value_counts of 0       2024
1       2024
2       2024
3       2024
4       2024
        ...
6968    0000
6969    0000
6970    0000
6971    0000
6972    0000
Name: Year, Length: 6973, dtype: object>

Let'change all the str in 0 and count the number of 0

In [8]:
shark_data["Age"].unique() #We can see a lot of str value

array(['38', '16', '33', '30', '15', '23', '41', '14', '26', 'Middle age',
       '18', '21', nan, '45', '46', '19', '27', '20', '65', '64', '24',
       '?', '13', '11', '32', '29', '10', '62', '39', '22', '66', '52',
       '44', '47', '55', '59', '8', '50', '34', '30s', '37', '9', '20/30',
       '35', '20s', '77', '60', '49', '42', '!2', '73', '25', '50s', '58',
       '67', '17', '6', '53', '68', '43', '40', '51', '31', '28', '40s',
       'teen', '56', 'Teen', '12', '36', 'M', '57', '!6', '!!', '7', '71',
       '48', '54', '75', '45 and 15', '61', '70', '4', '63', '28 & 22',
       '22, 57, 31', '60s', "20's", '74', '9 & 60', 'a minor', '69', '3',
       '82', '72', '18 months', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20s',
       'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', '78',
       '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ',
       'A.M.', '?    &   14', '10 or 12', '31 or 33', '2½', '13 or 14'],
      dtype=object)

In [9]:
shark_data['Age']  = pd.to_numeric(shark_data['Age'] , errors="coerce").fillna(0).astype(int)
shark_data['Age']

0       38
1       16
2       33
3       30
4       16
        ..
6968     0
6969     0
6970     0
6971     0
6972    15
Name: Age, Length: 6973, dtype: int32

In [ ]:
top_10_ages = shark_data[shark_data['Age'] != 0]['Age'].value_counts().nlargest(10)
top_10_ages
#We can see it's mostly teen between 14 and 25

In [ ]:
shark_data['Age'].hist(bins=100)

Let's clean the type

In [ ]:
shark_data['Type'].unique()

Let's clean the Species

In [1]:
shark_data.columns
#There is an extra space in Species

NameError: name 'shark_data' is not defined

In [ ]:
shark_data = shark_data.rename(columns={shark_data.columns[-1]: "Species"})
shark_data["Species"]

0                     Bull shark
1                 Bull shark 6ft
2               Bull shark 6-7ft
3       Reportedly a Great White
4         Reportedly Tiger Shark
                  ...
6968                           0
6969                           0
6970                           0
6971                           0
6972                           0
Name: Species, Length: 6973, dtype: object

In [ ]:
shark_data['Species'].unique()

**Analysis**

Let's do have a table of state/year to have a stat of our target by taking the 5 top countries for the last 10 years

In [ ]:
year_counts = shark_data['Year'].value_counts()
print(year_counts)

In [ ]:
country_counts = shark_data['Country'].value_counts()
print(country_counts)

In [ ]:
top_10_countries = country_counts.nlargest(5)

print(top_10_countries)

In [ ]:
usa_counts = shark_data[shark_data['Country'] == 'USA']['Location'].value_counts()

print(usa_counts)

In [ ]:
#Volusia county (Florida) could be a good target as they are the top
volusia_county_incidents= shark_data['Location'].str.contains('Volusia', case=False, na=False).sum()

print('There were ',volusia_county_incidents, 'incidents in Volusia over the years')
#Let's see which activity are done in that place

In [ ]:
#I want to have a repartition of incident in Volusia over the year

Let's look at the period of the attack to identify which season and weekend/weekday

*Hypothesis 1: There are more shark attacks during the holidays and weekend as more people are out and can meet with shark so this could a danger for the turism reputation*

*Hypothesis 2: Could be interesting to find a database of shark reproduction period to crosscheck*

In [ ]:
#We need to use the 'Date' column
shark_attack_hp1 =shark_attack["Date"]
shark_attack_hp1["Weekday"] = shark_attack["Date"].dt.weekday

When we select a city we can look at the species that attack and crosscheck it with a database of endemic species of shark

In [ ]:
#Top 10 Species
species_counts = shark_data['Species'].value_counts()
top_10_species = species_counts.nlargest(10)

print(top_10_species)