In [2]:
import pandas as pd
import numpy as np
url = 'https://raw.githubusercontent.com/TheLazyCactus/Shark_Project/refs/heads/main/GSAF5.csv'
shark_data = pd.read_csv(url, sep=";")

C:\Users\UTILISATEUR\AppData\Local\Temp\ipykernel_12648\2998609495.py:4: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  shark_data = pd.read_csv(url, sep=";")

In [3]:
#Remove all the columns and lines with NaN values only
shark_data.dropna(axis=1, how='all',inplace=True)
shark_data.dropna(axis=0, how='all',inplace=True)

In [4]:

#Remove the last 2 colmns 
shark_data =shark_data.drop(shark_data.columns[-1], axis = 1)
shark_data =shark_data.drop(shark_data.columns[-1], axis = 1)
shark_data

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order
0,14-oct-24,2024,Unprovoked,Honduras,Tela,Atlantida,Swimming,Roberto Carlose Bu Mejia,M,38,...,N,?,Bull shark,Georgienne Bradley: Daily Mail UK: FTN News.com,NaN,NaN,NaN,NaN,NaN,NaN
1,11-oct-24,2024,Unprovoked,USA,Florida,Brevard County Orlando,Surfing,Teddy Witteman,M,16,...,N,?,Bull shark 6ft,Todd SmithFlorida today: News 4:,NaN,NaN,NaN,NaN,NaN,NaN
2,17-sept-24,2024,Unprovoked,Honduras,Trujillo Colon,Puerto Castillo,Diving for shellfish,Fernando Mendoza Ocampo,M,33,...,N,?,Bull shark 6-7ft,Daily Mail UK: The Sun UK: The World Watch,NaN,NaN,NaN,NaN,NaN,NaN
3,16-sept-24,2024,Unprovoked,Morocco,Southern Morocco,West of Dakhla,Swimming - jumped off yacht,German Tourist,F,30,...,Y,1600hr,Reportedly a Great White,Andy Currie: Moroccan World News: Sky News,NaN,NaN,NaN,NaN,NaN,NaN
4,26-août-24,2024,Unprovoked,Jamaica,Montego Bay,Falmouth,Spearfishing,Jahmari Reid,M,16,...,Y,?,Reportedly Tiger Shark,Todd Smith: Daily Mail UK: Sky News: People .com,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6968,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0
6969,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0
6970,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0
6971,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0
6972,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0

In [5]:
#Le't check the column names so we know what we can do
shark_data_columns = shark_data.columns
shark_data_columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

In [6]:
#One column is still unnamed but all the Y match with a fatality
shark_data.columns.values[-10] = "Fatality"
shark_data.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatality', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order'],
      dtype='object')

Let's clean the year

In [7]:
#Convert year to int
shark_data["Year"] = pd.to_numeric(shark_data["Year"], errors='coerce').astype('Int64')
shark_data["Year"]

0       2024
1       2024
2       2024
3       2024
4       2024
        ...
6968       0
6969       0
6970       0
6971       0
6972       0
Name: Year, Length: 6973, dtype: Int64

Let'change all the str in 0 and count the number of 0

In [8]:
shark_data["Age"].unique() #We can see a lot of str value

array(['38', '16', '33', '30', '15', '23', '41', '14', '26', 'Middle age',
       '18', '21', nan, '45', '46', '19', '27', '20', '65', '64', '24',
       '?', '13', '11', '32', '29', '10', '62', '39', '22', '66', '52',
       '44', '47', '55', '59', '8', '50', '34', '30s', '37', '9', '20/30',
       '35', '20s', '77', '60', '49', '42', '!2', '73', '25', '50s', '58',
       '67', '17', '6', '53', '68', '43', '40', '51', '31', '28', '40s',
       'teen', '56', 'Teen', '12', '36', 'M', '57', '!6', '!!', '7', '71',
       '48', '54', '75', '45 and 15', '61', '70', '4', '63', '28 & 22',
       '22, 57, 31', '60s', "20's", '74', '9 & 60', 'a minor', '69', '3',
       '82', '72', '18 months', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20s',
       'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50', '18 to 22',
       'adult', '9 & 12', '? & 19', '9 months', '25 to 35', '23 & 26',
       '1', '(adult)', '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27',
       '21, 34,24 & 35', '30 & 32', '50 & 30', '17 & 35', 'X',
       '"middle-age"', '13 or 18', '34 & 19', '33 & 26', '2 to 3 months',
       'MAKE LINE GREEN', ' 43', '81', '"young"', '7 or 8', '78',
       '17 & 16', 'F', 'Both 11', '9 or 10', 'young', '36 & 23', '  ',
       'A.M.', '?    &   14', '10 or 12', '31 or 33', '2½', '13 or 14'],
      dtype=object)

In [9]:
shark_data['Age']  = pd.to_numeric(shark_data['Age'] , errors="coerce").fillna(0).astype(int)
shark_data['Age']

0       38
1       16
2       33
3       30
4       16
        ..
6968     0
6969     0
6970     0
6971     0
6972    15
Name: Age, Length: 6973, dtype: int32

Let's clean the type

In [ ]:
shark_data['Type'].unique()

In [ ]:
shark_data['Type'].apply(lambda x: if x in[''])

Let's clean the Species

In [1]:
shark_data.columns
#There is an extra space in Species

NameError: name 'shark_data' is not defined

In [ ]:
shark_data = shark_data.rename(columns={shark_data.columns[-8]: "Species"})
shark_data["Species"]

0                     Bull shark
1                 Bull shark 6ft
2               Bull shark 6-7ft
3       Reportedly a Great White
4         Reportedly Tiger Shark
                  ...
6968                           0
6969                           0
6970                           0
6971                           0
6972                           0
Name: Species, Length: 6973, dtype: object

**Analysis**

Let's do pivot table of state/year to have a stat of our target by taking the 5 top countries for the last 10 years

In [ ]:
shark_attack_client=shark_attack["Country", "Year", ]

Let's look at the period of the attack to identify which season and weekend/weekday

*Hypothesis 1: There are more shark attacks during the holidays and weekend as more people are out and can meet with shark*

*Hypothesis 2: Could be interesting to find a database of shark reproduction period to crosscheck*

In [ ]:
#We need to use the 'Date' column
shark_attack_hp1 =shark_attack["Date"]
shark_attack_hp1["Weekday"] = shark_attack["Date"].dt.weekday